{% load staticfiles %}

</body>

<!-- Footer -->
<footer>
    <div class="container text-center">
        Copyright &copy; johnssocks 2015
    </div>
</footer>

<!-- jQuery -->
<script src="{% static 'theme/js/jquery.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'theme/js/bootstrap.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'theme/js/jquery.easing.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'theme/js/grayscale.js' %}"></script>

</html>
